{
    "subreddit": "subreddit",

    "database": "./awards.db",

    "account": {
        "username": "username",
        "password": "password"
    },

    "test_account": {
        "username": "NOTREAL",
        "password": "JUSTFORTESTING"
    },

    "sleep_time": 60,
    
    "tokens": ["∆", "&amp;#8710;", "Δ"],

    "flair": {
        "point_text": "%s∆",
        "css_class": "points",
        "top1":  "pholder",
        "top10": "pholder"
    },

    "last_comment_filename": "prev_id.txt",

    "minimum_comment_length": 100,

    "days_to_rescan": 10
}
